* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.container {
    height: 90%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.card{

    height: 100%;
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;

    border: 1px solid grey;
}

.card input {
    border: 2px solid blue;
}

.card ::placeholder {
    color: rgb(228, 60, 60);

}

.btn {

    border-radius: 20px;
    height: 0px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    


}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
i{
    margin-right: 1rem;
    font-size:20px;
}